body {
    margin: 0;
    padding: 0;
}

#wrapper {
    overflow: hidden;
}

.container .content {
    padding: 50px;
    overflow: auto;
}

.content .image_block {
    width: 60%;
    float: left;
    height: 100%;
}

.content .image_block img {
    width: 100%;
}

.content .info {
    float: left;
    width: 35%;
    margin-left: 20px;
    text-align: center;
}

.category_name {
    font-style: italic;
}

.comments {
    padding: 0 50px;
}

.comment {
    color: #1d2124;
}

span.login {
    font-weight: bold;
    color: #117a8b;
    font-size: 16pt;
}

span.date {
    font-size: 10pt;
}

footer {
    text-align: center;
    background-color: #c8cbcf;
}

.footer_text {
    color: black;
    margin: 10px;
}

.search-form {
    width: 400px;
    position: relative;
}

.btn-search {
    position: absolute;
    right: 0;
}

.search_input {
    width: 82% !important;
}

div.scrollmenu {
    background-color: #3F3A3A;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #493657;
}

.subcomment-btn {
    font-size: 8pt;
}

.subcomment-block {
    margin-left: 100px;
}
.comment-operations{
    float: right;
}
.container .content {
    position: relative;
}
.container .likes{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 19pt;
}
.img_like{
    height: 50px;
}
#like-click-block{
    cursor: pointer;
}
.statistics-block{
    font-size: 10pt;
    font-family: Verdana;
}