<?php

/** @var \models\Image $image */
$image = $model['image'] ?? null;

$categoriesList = \models\Category::GetAllCategories();
$btnText = "Добавить";

?>

<section class="jumbotron text-center">
    <div class="jumbotron-heading">
        <?php if (!$image) : ?>
            <h1>Загрузка изображения</h1>
        <?php else: ?>
            <h1>Редактирование изображения</h1>
        <?php $btnText = "Обновить"; ?>
        <?php endif; ?>
    </div>
</section>
<div class="container">
    <form enctype="multipart/form-data" method="POST" class="form-group">
        <p>Имя
            <input type="text" name="title" class="form-control" placeholder="Мой пёсик" value="<?=$image->title ?? ''?>" required>
        </p>
        <p>Описание<textarea name="description" id="editor"><?= $image->description ?? ''?></textarea></p>
        <p>Категория
            <input list="categories" name="category_name" class="form-control" placeholder="Собаки" value="<?=$image->category_name ?? ''?>" required>
            <datalist id="categories">
                <?php foreach ($categoriesList as $categoryId => $categoryName) { ?>
                    <option><?= $categoryName ?></option>
                <?php } ?>
            </datalist>
        </p>
        <?php if (!$image): ?>
            <input type="hidden" name="MAX_FILE_SIZE" value="3000000"/>
            <div class="custom-file">
                <input name="image" type="file" class="custom-file-input" id="customFile" required>
                <label class="custom-file-label" for="customFile">Выберите изображение</label>
            </div>
            <br/>
            <br/>
        <?php endif; ?>
        <p><input name="add_image_btn" type="submit" value="<?= $btnText ?>" class="btn btn-primary"></p>
    </form>
    <?php
    if (!empty($model['errors'])) {
        echo "<div role='alert' class=\"error alert alert-danger\">";
        foreach ($model['errors'] as $error)
            echo "$error</br>";
        echo "</div>";
    } ?>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
