<html lang="ru">
<body>
    <h3>Ваша фотография с <?= $_SERVER['HTTP_HOST'] ?> получила новый комментарий!</h3>
    <h4>Дорогой <?= $model['user']->login ?>, ваш фотография получила новый комментарий</h4>
    <h4><a href="<?= $model['image_url'] ?>">Взглянуть</a></h4>
</body>
</html>
