<div class="scrollmenu">
    <?php if ($categories = \models\Category::GetAllCategories()) : ?>
        <?php foreach (\models\Category::GetAllCategories() as $category) : ?>
            <a href="/images/category/<?= $category ?>"><?= $category ?></a>
        <?php endforeach; ?>
    <?php endif; ?>
</div>
<section class="jumbotron text-center">
    <div class="jumbotron-heading">
        <h1><?php if (array_key_exists('header', $model)) echo $model['header']; else echo 'Пусто.' ?></h1>
    </div>
</section>

<div class="album">
    <div class="container">
        <div class="row">
            <?php
            if (!array_key_exists('error', $model) && $model['imagesList'])
                foreach ($model['imagesList'] as $imageItem) { ?>

                    <?php /** @var \ViewModel\ImageStatistics $statistic */
                    $statistic = new \ViewModel\ImageStatistics($imageItem->id); ?>

                    <div class="imageItem col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="<?= $imageItem->image_path ?>">
                            <div class="card-body">
                                <p class="card-title"><?= $imageItem->title ?></p>
                                <p class="card-subtitle mb-2 text-muted">
                                    <a href="/images/category/<?= $imageItem->category_name ?>"><?= $imageItem->category_name ?></a>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="/images/<?= $imageItem->id ?>">
                                        <div class="btn btn-sm btn-outline-secondary">Подробнее</div>
                                    </a>
                                    <div>
                                        <small class="text-muted"><a
                                                    href="/images/user/<?= $imageItem->owner_login ?>"><?= $imageItem->owner_login ?></a>
                                        </small>
                                        <br/>
                                        <small class="text-muted"><?= $imageItem->date ?></small>
                                    </div>
                                </div>
                                <hr/>
                                <div class="statistics-block">
                                    <div>Лайков: <?= $statistic->getLikesCount() ?></div>
                                    <div>Комментариев: <?= $statistic->getCommentsCount() ?></div>
                                    <div>В избранных: <?= $statistic->getInFavoriteCount() ?></div>
                                    <div>Всего просмотрено: <?= $statistic->getViewsCount() ?></div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
        </div>
    </div>
</div>
