<?php /** @var \models\Image $image */
$image = $model['image']; ?>
<div class="container">
    <div class="content">

        <div class="control">
            <?php if (isset($image->user_id) && \core\ActiveUser::CheckActiveUser() && $image->user_id == \core\ActiveUser::GetActiveUser()->id) : ?>
                <a href="/images/edit/<?= $image->id ?>">
                    <div class="btn btn-sm btn-outline-secondary">
                        Редактировать
                    </div>
                </a>
                <a href="/images/delete/<?= $image->id ?>">
                    <div class="btn btn-sm btn-outline-secondary">
                        Удалить
                    </div>
                </a>
            <?php endif; ?>
        </div>
        <br/><br/>

        <div class="image_block">
            <img id="image_view" class="rounded" src=<?= $image->image_path ?>>
        </div>
        <div class="info">
            <div class="display-3"><?= $image->title ?></div>
            <div class="category_name"><?= $image->category_name ?></div>
            <div><?= $image->description ?></div>
            <br/>
            <?php if ($model['userIsActive'] && !\models\Image::CheckImageOwner($image, \core\ActiveUser::GetActiveUser())) { ?>
                <?php if (!$model['isFavorite']) { ?><a href="/favorites/add/<?= $image->id ?>">
                        <div class="btn btn-primary">Добавить в избранное</div></a>
                <?php } else { ?><a href="/favorites/add/<?= $image->id ?>">
                        <div class="btn btn-primary">Удалить из избранного</div></a><?php } ?>
            <?php } ?>
        </div>
        <div class="likes" id="like-click-block">
            <span id="likes-count-box"><?= $model['likesCount'] ?? '' ?></span>
            <img class="img_like" src="/web/images/heart.png">
        </div>
    </div>
    <div class="comments">
        <hr/>

        <?php foreach ($model['comments'] ?? [] as $comment) : ?>
            <div class="comment">

                <?php if (!$comment->parent_id) : ?>
                    <span class="date">[<?= $comment->date ?>]</span> <span class="login"><?= $comment->user_login ?></span>: <?= $comment->comment_text ?>

                    <div class="comment-operations">
                        <?php if (\core\ActiveUser::CheckActiveUser() && !$comment->parent_id) : ?><!--subcomment block-->

                            <button type="button" class="btn btn-outline-secondary subcomment-btn" data-toggle="modal"
                                    data-target="#exampleModal" data-whatever="<?= $comment->id ?>">Ответить
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Ответить на комментарий</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="/images/comment/<?= $image->id ?>" method="POST">
                                        <div class="modal-body">
                                                <input type="hidden" name="comment_parent_id">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Комментарий:</label>
                                                    <textarea name="comment_text" class="form-control" id="message-text"></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                <button type="submit" name="comment_btn" class="btn btn-primary">Комментировать</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript" src="/web/js/subcomment.js"></script>

                        <?php endif; ?><!-- end subcomment block-->
                        <?php if (\core\ActiveUser::GetActiveUser() != null && \core\ActiveUser::GetActiveUser()->login == $comment->user_login) { ?>
                            <a href="/comment/delete/<?= $image->id ?>/<?= $comment->id ?>">
                                <div class="btn btn-outline-secondary subcomment-btn">Удалить</div>
                            </a>
                        <?php } ?>
                    </div>
                    <?php foreach ($subcomments = \models\Comment::GetAllSubComments($comment->id) as $subcomment) : ?>
                        <div class="subcomment-block">
                            <span class="date">[<?= $subcomment->date ?>]</span> <span class="login"><?= $subcomment->user_login ?></span>: <?= $subcomment->comment_text ?>

                            <?php if (\core\ActiveUser::GetActiveUser() != null && \core\ActiveUser::GetActiveUser()->login == $subcomment->user_login) { ?>
                                <div class="comment-operations">
                                    <a href="/comment/delete/<?= $image->id ?>/<?= $subcomment->id ?>">
                                        <div class="btn btn-outline-secondary subcomment-btn">Удалить</div>
                                    </a>
                                </div>
                            <?php } ?>
                        </div>
                    <?php endforeach; ?>

                <?php endif; ?><!-- end comment if -->
            </div>
        <?php endforeach; ?>

        <?php if (\core\ActiveUser::CheckActiveUser()) { ?>
            <hr/>
            <div class="writeCommentBlock">
                <form action="/images/comment/<?= $image->id ?>" method="POST">
                    <p><textarea required class="form-control" name="comment_text"
                                 placeholder="Оставьте Ваш комментарий" maxlength="500" rows="6" cols="40"></textarea>
                    </p>
                    <p><input type="submit" name="comment_btn" value="Комментировать" class="btn btn-primary"></p>
                </form>
            </div>
        <?php } else { ?>
            <div class="alert-info" role="alert">Чтобы оставить комментарий - необходимо войти</div>
        <?php } ?>
    </div>
</div>

<script type="text/javascript">var imageId = <?= $image->id ?>;</script>
<script type="text/javascript" src="/web/js/like.js"></script>

