<section class="jumbotron text-center">
    <div class="jumbotron-heading">
        <h1>Избранные</h1>
    </div>
</section>

<div class="album">
    <div class="container">
        <div class="row">
            <?php
            if (!array_key_exists('error', $model))
                foreach ($model['imagesList'] as $imageItem) { ?>
                    <div class="imageItem col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="<?= $imageItem->image_path ?>">
                            <div class="card-body">
                                <p class="card-title"><?= $imageItem->title ?></p>
                                <p class="card-subtitle mb-2 text-muted">
                                    <a href="/images/category/<?= $imageItem->category_name ?>"><?= $imageItem->category_name ?></a>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="/images/<?= $imageItem->id ?>">
                                        <div class="btn btn-sm btn-outline-secondary">Подробнее</div>
                                    </a>
                                    <a href="/favorites/remove/<?= $imageItem->id ?>">
                                        <div class="btn btn-sm btn-outline-secondary">Убрать</div>
                                    </a>
                                    <div>
                                        <small class="text-muted"><a
                                                    href="/images/user/<?= $imageItem->owner_login ?>"><?= $imageItem->owner_login ?></a>
                                        </small>
                                        <br/>
                                        <small class="text-muted"><?= $imageItem->date ?></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
        </div>
    </div>
</div>

