<?php
/** @var \models\User $user */
$user = $model['user'];
?>
<center>
    <?php if (isset($model['message'])) : ?>
        <div class="alert alert-success" role="alert">
            <h1><?= $model['message'] ?></h1>
        </div>
    <?php endif; ?>
    <br/>
    <form method="POST" action="/user/delete"><input type="submit" value="Удалить аккаунт"></form>
    <br/>
    <h3>Данные пользователя <?= $user->login ?></h3>
    <form action="/user/edit" method="POST">
        <p><label>Имя: <input type="text" name="name" value="<?= $user->name ?? '' ?>"></label></p>
        <p><label>Фамилия: <input type="text" name="surname" value="<?= $user->surname ?? '' ?>"></label></p>
        <p><label>Email: <input type="email" name="email" value="<?= $user->email ?? '' ?>"></label></p>
        <p><label>Город: <input type="text" name="city" value="<?= $user->city ?? '' ?>"></label></p>
        <p><label>Страна: <input type="text" name="country" value="<?= $user->country ?? '' ?>"></label></p>
        <p><label>Возраст: <input type="text" name="age" value="<?= $user->age ?? '' ?>"></label></p>
        <p><input type="submit" name="submit" value="Сохранить"></p>
    </form>
</center>
