<?php if ($model && array_key_exists('message', $model)) { ?>
    <section class="jumbotron text-center">
        <div class="jumbotron-heading">
            <h1><?= $model['message'] ?></h1>
        </div>
    </section>
<?php } else { ?>
    <section class="jumbotron text-center">
        <div class="jumbotron-heading">
            <h1>Вход</h1>
        </div>
    </section>
    <div class="container">
        <form method="POST" class="form-group">
            <p>Логин <input type="text" name="login" class="form-control" placeholder="login" autofocus required></p>
            <p>Пароль <input type="password" name="pass" class="form-control" placeholder="password" required></p>
            <p><input type="submit" name="btn_login" value="Войти" class="btn btn-primary"></p>
        </form>
        <?php
        if (!empty($model['errors'])) {
            echo "<div role='alert' class=\"error alert alert-danger\">";
            foreach ($model['errors'] as $error)
                echo $error;
            echo "</div>";
        }
        ?>
    </div>
<?php } ?>