<?php if ($model && array_key_exists('message', $model)) { ?>
    <section class="jumbotron text-center">
        <div class="jumbotron-heading">
            <h1><?= $model['message'] ?></h1>
        </div>
    </section>
<?php } else { ?>
    <section class="jumbotron text-center">
        <div class="jumbotron-heading">
            <h1>Регистрация</h1>
        </div>
    </section>
    <div class="container">
        <form method="POST" class="form-group">
            <p>Логин<input type="text" name="login" class="form-control" placeholder="login" required></p>
            <p>Пароль<input type="password" name="pass" class="form-control" placeholder="password" required></p>
            <p>Повторите пароль<input type="password" name="pass_again" class="form-control" placeholder="password"
                                      required></p>
            <div id="main"></div>
            <p>Введите капчу: <input type="text" name="inputNum" id="captchaInput" onchange="checkCaptcha()"></p>
            <p><input type="submit" name="btn_reg" value="Регистрация" class="btn btn-primary"></p>
            <input type="hidden" name="captchaResult" id="captchaResult" value="0">
        </form>

        <?php
        if (!empty($model['errors'])) {
            echo "<div role='alert' class=\"error alert alert-danger\">";
            foreach ($model['errors'] as $error)
                echo $error . "<br/>";
            echo "</div>";
        }
        ?>
    </div>
<?php } ?>

<script type="application/javascript" src="/web/js/captcha.js"></script>
<script type="text/javascript">generateRandomNumbers()</script>

