<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <title>Pinterest</title>
    <script src="/web/js/vendor/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/web/css/vendor/bootstrap.min.css">
    <script src="/web/js/vendor/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/web/css/style.css">
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img width="30" height="30" src="/web/images/logo.png">
                <strong>Pinterest 2</strong>
            </a>
            <form method="POST" action="/search" class="form-inline search-form">
                <input class="form-control search_input" type="text" name="search_str" placeholder="Поиск...">
                <input class="btn btn-primary btn-search" type="submit" name="search_btn" value="Найти">
            </form>
            <div class="dropdown btn-group dropleft">
                <button class="menu_btn btn btn-default" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Панель управления
                </button>
                <div class="dropdown-menu">
                    <?php if (\core\ActiveUser::GetActiveUser()) { ?>
                        <a href="/images/user/<?= \core\ActiveUser::GetActiveUser()->login ?>">
                            <h6 class="dropdown-header"><?= \core\ActiveUser::GetActiveUser()->login ?></h6>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/edit">Личный кабинет</a>
                        <a class="dropdown-item" href="/images/add">Добавить картинку</a>
                        <a class="dropdown-item" href="/favorites">Избранные</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Выйти</a>
                    <?php } else { ?>
                        <a class="dropdown-item" href="/login">Войти</a>
                        <a class="dropdown-item" href="/registration">Зарегистрироваться</a>
                    <?php } ?>
                </div>
            </div>

        </div>
    </div>
</header>
<div id="wrapper">
    <?php require_once $this->viewPath; ?>
</div>
<footer class="text-muted">
    <div class="footer_text">© ЖДТУ <?= date('Y') ?></div>
</footer>
</body>
</html>